<div class="rating-product-cpn">
    <div class="module gf_module-{{align_lg}} gf_module-{{align_lg}}-lg gf_module-{{align_md}}-md gf_module-{{align_sm}}-sm gf_module-{{align_xs}}-xs {{extraClass}}">
        <ul class="gf_icon-list">
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
        </ul>
    </div>
    <p class="rating-text">4.2</p>
</div>