<div class="review-of-customer-cpn">
  <div class="check-list-content" style="display: flex; align-items: center;">
      <div class="check-list-icon" style="margin-right: 10px;">
        <img src="https://ucarecdn.com/036783c6-6e23-462a-98e0-a52f9f42f4c9/-/format/auto/-/preview/3000x3000/-/quality/lighter/unnamed.png">
      </div>
      <div class="check-list-text" style="font-size: 24px;">購入者レビュー</div>
    </div>
    
    <div class="list-review-comment">
      <div class="comment-wrapper">
        <div class="rating-product">
        <div class="module gf_module-{{align_lg}} gf_module-{{align_lg}}-lg gf_module-{{align_md}}-md gf_module-{{align_sm}}-sm gf_module-{{align_xs}}-xs {{extraClass}}">
          <ul class="gf_icon-list">
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
          </ul>
        </div>
        <p class="rating-text">4.2</p>
      </div>
          <div class="comment-text">とてもおいしかった</div>
          <div class="history-comment">
          <div class="account-name">ニックネーム <soan>XXXXXXXXXXXX</soan></div>
          <div class="date-comment">2021.11.17</div>
          </div>
      </div>
      
      
      <div class="comment-wrapper">
        <div class="rating-product">
        <div class="module gf_module-{{align_lg}} gf_module-{{align_lg}}-lg gf_module-{{align_md}}-md gf_module-{{align_sm}}-sm gf_module-{{align_xs}}-xs {{extraClass}}">
          <ul class="gf_icon-list">
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
              <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
              </li>
            <li class="item">
                <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                  <i class="gf_icon fa fa-star"></i>
                </div>
            </li>
          </ul>
        </div>
        <p class="rating-text">4.2</p>
      </div>
          <div class="comment-text">とてもおいしかった</div>
          <div class="history-comment">
          <div class="account-name">ニックネーム <soan>XXXXXXXXXXXX</soan></div>
          <div class="date-comment">2021.11.17</div>
          </div>
      </div>
    </div>
    
    <div class="footer-comment-container">
      <div class="view-all-comment" style="text-align: center;">
        <div class="btn view-all-comment-btn">すべてのレビューをみる（XXX件）</div>
      </div>
    
      <div class="write-one-comment" style="text-align: center;">
        <div class="btn write-one-comment-btn">レビューを書く</div>
      </div>
      
      <div class="list-social-network">
        <div class="social-network-logo">
          <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
        </div>
        <div class="social-network-logo">
          <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
        </div>
        <div class="social-network-logo">
          <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
        </div>
        <div class="social-network-logo">
          <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
        </div>
      </div>
    </div>
</div>