<div class="product-processed-by-store-cpn">
  <div class="check-list-content" style="display: flex; align-items: center; padding-bottom: 40px;">
    <div class="check-list-icon" style="margin-right: 10px;">
      <img src="https://ucarecdn.com/036783c6-6e23-462a-98e0-a52f9f42f4c9/-/format/auto/-/preview/3000x3000/-/quality/lighter/unnamed.png">
    </div>
    <div class="check-list-text" style="font-size: 24px;">この店舗の取扱商品</div>
  </div>
  
  <div class="list-product">
    <div class="product-wrapper">
      <div class="img-product">
        <img src="https://i.cbc.ca/1.6392591.1647898279!/fileImage/httpImage/birthday-cake.jpeg" alt="" class="gf_image" data-gemlang="en" width="1280" height="720" data-width="100%" data-height="aupx" title="" natural-width="1280" natural-height="720">
      </div>
      <div class="detail-product">
        <div class="name-product">
          <p>商品名</p>
        </div>
        <div class="rating-product">
          <div class="module gf_module-{{align_lg}} gf_module-{{align_lg}}-lg gf_module-{{align_md}}-md gf_module-{{align_sm}}-sm gf_module-{{align_xs}}-xs {{extraClass}}">
            <ul class="gf_icon-list">
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
              <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
              </li>
            </ul>
          </div>
          <p class="rating-text">4.2</p>
        </div>
        <div class="price-product">￥XXXXX<span>(税込)</span></div>
      </div>
    </div>
    <div class="product-wrapper">
      <div class="img-product">
        <img src="https://i.cbc.ca/1.6392591.1647898279!/fileImage/httpImage/birthday-cake.jpeg" alt="" class="gf_image" data-gemlang="en" width="1280" height="720" data-width="100%" data-height="aupx" title="" natural-width="1280" natural-height="720">
      </div>
      <div class="detail-product">
        <div class="name-product">
          <p>商品名</p>
        </div>
        <div class="rating-product">
          <div class="module gf_module-{{align_lg}} gf_module-{{align_lg}}-lg gf_module-{{align_md}}-md gf_module-{{align_sm}}-sm gf_module-{{align_xs}}-xs {{extraClass}}">
            <ul class="gf_icon-list">
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
              <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
              </li>
            </ul>
          </div>
          <p class="rating-text">4.2</p>
        </div>
        <div class="price-product">￥XXXXX<span>(税込)</span></div>
      </div>
    </div>
    <div class="product-wrapper">
      <div class="img-product">
        <img src="https://i.cbc.ca/1.6392591.1647898279!/fileImage/httpImage/birthday-cake.jpeg" alt="" class="gf_image" data-gemlang="en" width="1280" height="720" data-width="100%" data-height="aupx" title="" natural-width="1280" natural-height="720">
      </div>
      <div class="detail-product">
        <div class="name-product">
          <p>商品名</p>
        </div>
        <div class="rating-product">
          <div class="module gf_module-{{align_lg}} gf_module-{{align_lg}}-lg gf_module-{{align_md}}-md gf_module-{{align_sm}}-sm gf_module-{{align_xs}}-xs {{extraClass}}">
            <ul class="gf_icon-list">
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
                <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
                </li>
              <li class="item">
                  <div data-index="{{forloop.index}}" data-key="content" class="item-content">
                    <i class="gf_icon fa fa-star"></i>
                  </div>
              </li>
            </ul>
          </div>
          <p class="rating-text">4.2</p>
        </div>
        <div class="price-product">￥XXXXX<span>(税込)</span></div>
      </div>
    </div>
  </div>
</div>